/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# General Header Styling (APPLIED TO ALL PAGES)
    - Navbar 
    - Footer
#general Main Styling (APPLIED TO ALL PAGES)
# Index/Homepage
    - Index Header
    - Index Main
# Explore
    - Expolore Header
    - Explore Main
# Transport
    - Transport Header
    - Transport Main
# Food
    - Food Header
    - Food Main
# Credits
    - Credits Header
    - Credits Main


--------------------------------------------------------------*/
/* Base */
html {
    scroll-behavior: smooth;
}

body {
	font-family: 'quicksand', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
    text-align: left;
	color: #f0f0f0;
	background-color: #252525;
    margin: 0 auto;
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: 'quicksand', sans-serif;
	font-size: 2rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* General Header Styling */
.page-img {
    margin-top: 6rem;
    display: block;
    width: 100%;
    height: 90vh;
    position: relative;
    object-fit: cover;
    background-position: center center;
    z-index: -1;
    filter: brightness(70%);
    text-align: center;
}
.page-name {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 4.5rem;
    color: rgb(255, 255, 255);
}

/* Header navbar/hamburger menu */
.menu {
    text-align: center;
    justify-content: center;  
}

.menu-toggle {
    z-index: 101;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border: 0;
    padding: 1.5rem;
    background-color: transparent;
    width: 7rem;
    height: 7rem;
}

.menu-items {
    z-index: 100;
    display: none;
    background-color: rgba(146, 146, 146, 0.8);
}

.menu-items a {
    display: block;
    color: white;
    font-size: 2rem;
    margin: 3rem;
}

.menu-items a:hover {
    border: 0.3rem solid white;
}

.menu.toggled ul {
    z-index: 100;
    display: block;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    justify-content: center;
}

/* Media Queries for Header */
@media (min-width: 60em) {
    .page-name {
        font-size: 10rem;
    }
}

@media (min-width: 60em) {
    .menu-toggle {
        display: none;
    }

    .menu-items {
        display: inline-flex;
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
    }

    .menu-items a {
        padding: 1rem;
        margin: 0;
        text-shadow: 0.1rem 0.2rem 0rem black;
    }
}

/* general Styles for Main */
.article {
    margin-top: 1rem;
    background-color: rgb(128, 8, 32);
}

.article h3 {
    margin: 0;
    font-size: 2rem;
}

.article p {
    padding: 0rem 1.5rem 1.5rem 1.5rem;
}

.gallery {
    padding-top: 5rem;
}

.gallery img {
    width: 20rem;
    height: 15rem;
    object-fit: cover;
}

.gallery h2 {
    font-size: 2rem;
    padding: 1.5rem 0rem;
    border-bottom: 0.2rem solid white;
    border-top: 0.2rem solid white;
}

/* General Styled Footer */
footer {
    margin-top: 5rem;
    text-align: center;
    color: white;
    padding: 1.5rem;
    background-color: rgb(128, 8, 32);
}

/* Index Header */
.shibuya-bg {
    display: block;
    object-fit: cover;
    transform: translateX(calc((100vw - 100%) / 2));
    background-position: center center;
    z-index: -1;
    filter: brightness(65%);
}

/* Index Main */
.spotify {
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-top: 5rem;
    text-align: center;
    border-top: 0.2rem solid white;
}

.spotify-desktop {
    display: none;
}

.about {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 0.5rem;
}

.about h2 {
    margin-bottom: 2rem;
    border-top: 0.2rem solid white;
}

.about p {
    width: 70%;
    margin: auto;
}

.index.gallery {
    text-align: center;
}

.gallery-wrap {
    justify-content: center;
}

.gallery-img {
    display: inline-block;
    position: relative;
    top: 0;
}

.hover-txt {
    text-align: center;
}

.gallery-img .hover-txt {
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -80%);
    font-size: 2rem;
    color: #eaeaea;
}

.gallery-img:hover img {
    opacity: 0.3;
}

.gallery-img:hover .hover-txt {
    opacity: 1;
}

/* Index Media Query */
@media (min-width: 60em) {
    .spotify h2 {
        font-size: 4rem;
    }

    .spotify {
        width: 60%;
    }

    .spotify-mobile {
        display: none;
    }

    .spotify-desktop {
        display: block;
    }
}

@media (min-width: 60em) {
    .gallery-wrap{
        display: inline-block;
        justify-content: center;
    }

    .index.gallery-img {
        padding: 1rem;
    }

    .gallery-img img {
        display: inline-block;
        width: 30rem;
        height: 30rem;
    }

    .gallery-img .hover-txt {
        font-size: 4rem;
    }
}

@media (min-width: 60em) {
    .about h2 {
        width: 60%;
        margin: auto;
        border-top: 0.2rem solid white;
        font-size: 4rem;
    }

    .about p {
        width: 30%;
        margin: 2rem auto;
    }
}

/* Explore Main */
.explore.gallery {
    /* display: block; */
    margin: 0 auto;
    width: 70%;
}

.explore.gallery h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore.article {
    display: inline-block;
    margin: auto;
    margin-top: 1rem;
}

.explore.article img {
    width: 100%;
}

.explore-wrap {
    padding: 2px 16px;
}

.attractions {
    text-align: center;
}

.explore-grid {
    display: grid;
    grid-gap: 0.50rem;
	grid-template-columns: repeat(2, 1.5fr);
    grid-template-rows: repeat(3, 1.5fr);
}

.explore-grid img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.tokyo-station {
    grid-column: 1/3;
    grid-row: 1/1;
}

.tokyo-tower {
    grid-column: 1/3;
    grid-row: 3/3;
}


@media (min-width: 50em) {
    .explore.gallery {
        min-width: 80%;
    }
    
    .explore.article {
        max-width: 20rem;
    }

    .explore.gallery img {
        display: inline-block;
        width: 100%;
        height: 20rem;
    }
}

@media (min-width: 60em) {
    .explore-grid {
        display: grid;
        grid-gap: 0.50rem;
        grid-template-columns: repeat(4, 1.5fr);
        grid-template-rows: repeat(2, 1.5fr);
    }

    .tokyo-station {
        grid-column: 2/4;
        grid-row: 1/2;
    }
    
    .tokyo-tower {
        grid-column: 2/4;
        grid-row: 2/3;
    }

    .gundam {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .sensoji {
        grid-column: 4/5;
        grid-row: 1/3;
    }
}

/* Transport Main */
.transport.gallery {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.transport-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.transport.article img {
    margin: 0rem;
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.resources {
    margin-top: 5rem;
    width: 80%;
    display: block;
    margin: 0 auto;
}
/* Tranportation - Table styling */
.regular-fare {
    display: flex;
    justify-content: center;
}

.table-head {
    font-size: 2.5rem;
}

.regular-fare th {
    padding: 0.5rem 0.5rem;
}

.regular-fare td {
    padding: 0.5rem 3rem 0.5rem 0.5rem;
}

.regular-fare th, .regular-fare td {
    border: 0.1rem solid white;
    border-collapse: collapse;
}

.regular-fare td:hover {
    background-color: white;
    color: black;
}

.resources-item {
    margin-top: 2rem;
}

.resources-item iframe {
    width: 100%;
    height: 30rem;
}

@media (max-width: 40em) {
    .transport.page-name {
        font-size: 2.7rem;
    }
}

@media (min-width: 40em) {
    .transport.page-name {
        font-size: 6rem;
    }
}

@media (min-width: 70em) {
    .transport.page-name {
        font-size: 10rem;
    }
}

@media (min-width: 60em) {
    .transport.gallery h2 {
        display: block;
        max-width: 30%;
    }

    .transport.gallery {
        display: block;
        margin: auto;
        width: 60%;
    }

    .transport-wrap {
        display: inline-block;
        width: 25rem;
        margin: 0 auto;
    }

    .resources {
        width: 60%;
    }
}

@media (min-width: 60em) {
    .regular-fare {
        display: block;
    }
}

/* Food Main */
.desktop-grid {
    visibility: hidden;
}

.food-grid {
    z-index: -1;
    display: grid;
    margin-top: 6rem;
    grid-template-columns: repeat(2, 3fr);
    grid-template-rows: repeat(3, 3fr);
    padding: 0.2rem;
    gap: 0.7rem;
}

.food-grid img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(65%);
}

.nigiri {
    grid-column: 1/3;
    grid-row: 1/1;
}

.unagi {
    grid-column: 2/3;
    grid-row: 2/2;
    
}

.gyoza {
    grid-column: 1/2;
    grid-row: 2/4;
}

.food-history {
    display: block;
    margin: 0 auto;
    padding: 2rem;
    margin-top: -30rem;
}

.food-history h2 {
    border-bottom: 0.2rem solid white;
    border-top: 0.2rem solid white;
}

@media (min-width: 60em) {
    .desktop-grid {
        visibility: visible;
    }

    .food-grid {
        grid-template-columns: repeat(5, 3fr);
        grid-template-rows: repeat(3, 20rem);
    }

    .nigiri {
        grid-column: 3/5;
        grid-row: 1/1;
    }
    
    .unagi {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    
    .gyoza {
        grid-column: 5/6;
        grid-row: 1/3;
    }

    .matcha {
        grid-column: 5/6;
        grid-row: 3/4;
    }

    .takoyaki {
        grid-column: 4/5;
        grid-row: 2/4;
    }

    .yoshi {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    .shabu {
        grid-column: 2/4;
        grid-row: 3/4;
    }

    .food-history{
        margin-top: 5rem;
        max-width: 30%;
    }
}








@media (min-width: 60em) {
    
}